//output: index.html
header
	link(rel='stylesheet', href='home-main.css')
nav.top-nav
	.logo
		.logo-img
		.logo-text ConfuciusBateman
	.top-nav-options
		.search-bar
		.account-ui
.top-nav-blueprint
	.properties-left
		.title POSITIONING
		.item-wrap
			.item.active Width: 100%
			.item Height: 4rem
			.item Position: Fixed
			.item Z-index: 9
	.blueprint-name Top navigation
	.properties-right
		.title PROPERTIES
		.item-wrap
			.item Padding: 0 1.5rem
			.item Align-items: center
			.item Justify-content: Space-between
			.item Display: Flex
nav.side-nav
	.drop-file-wrap
		.drop-file
	.list-wrap
		.section-list-wrap
			.section-title
			.item-wrap
				.item-ui
				.item-text.l
			.item-wrap
				.item-ui
				.item-text.l
			.item-wrap
				.item-ui
				.item-text.s
			.item-wrap
				.item-ui
				.item-text.m
		.section-list-wrap
			.section-title
			.item-wrap
				.item-ui
				.item-text.s
			.item-wrap
				.item-ui
				.item-text.s
			.item-wrap
				.item-ui
				.item-text.l
			.item-wrap
				.item-ui
				.item-text.m
	.side-footer
		.footer-text-wrap
			.text-1
			.text-2
main.content
	.greetings-head
		.greetings Hello.
		.head-title 
			span Experience 
			| Design
	.top-nav-explain
		| Generally top navigation bars length occupy full width of page to show its dominance and attain larger whitespace.
	
	
