//output: index.html
header
	link(rel='stylesheet', href='home-main.css')		
nav.top-nav
	.logo
		.logo-img
		.logo-text ConfuciusBateman
	.top-nav-options
		.search-bar
		.account-ui
nav.side-nav
	.drop-file-wrap
		.drop-file
	.list-wrap
		.section-list-wrap
			.section-title
			.item-wrap
				.item-ui
				.item-text.l
			.item-wrap
				.item-ui
				.item-text.l
			.item-wrap
				.item-ui
				.item-text.s
			.item-wrap
				.item-ui
				.item-text.m
		.section-list-wrap
			.section-title
			.item-wrap
				.item-ui
				.item-text.s
			.item-wrap
				.item-ui
				.item-text.s
			.item-wrap
				.item-ui
				.item-text.l
			.item-wrap
				.item-ui
				.item-text.m
	.side-footer
		.footer-text-wrap
			.text-1
			.text-2
main.content
	
